.timeAxis {
    stroke: blue;
    stroke-width: 3px;
}

.timeAxisTick  {
    stroke:none;
    fill: blue;
}

.timeAxisTick text  {
    fill: black;
}

.item {
    stroke: darkblue;
    stroke-width: 2px;
}


.item path {
    fill: none;
}


.item rect {
    /*stroke: black;*/
    fill: white;
    /*stroke-width: 2px;*/
    /*box-shadow: darkgray;*/
}



.item text {
    stroke: none;
    fill: black;
}

rect.lane {
    fill:  #FFEABE;
    stroke: #CEAD68;
    stroke-width:2;
    opacity:1;
}

.lane text {
    fill: #FF5733;
}

/*.item  rect{*/
/*    filter:url(#shadow);*/
/*}*/

/*#events {*/
/*    filter:url(#shadow);*/
/*}*/
