.timeAxis {
  stroke: blue;
  stroke-width: 3px;
}

.timeAxisTick {
  stroke: none;
  fill: blue;
}

.timeAxisTick text {
  fill: black;
}

.item.highlight {
  stroke: red;
  stroke-width: 6px;
  box-shadow: darkgray;
}

.item {
  stroke: #B28D3F;
  stroke-width: 2px;
}


.item .filled-path {
  fill: #CEAD68;
  opacity: 0.2;
  stroke: none;
}

.item .drawn-path {
  fill: none;
}

.item rect {
  fill: #FFF2D7;
}


.item text {
  stroke: none;
  fill: black;
}

rect.lane {
  fill: #FFEABE;
  stroke: #CEAD68;
  stroke-width: 2;
  opacity: 1;
}

.lane text {
  fill: #FF5733;
}

/*.item  rect{*/
/*    filter:url(#shadow);*/
/*}*/

/*#events {*/
/*    filter:url(#shadow);*/
/*}*/
