.timeAxis {
    stroke: blue;
    stroke-width: 3px;
}

.timeAxisTick  {
    stroke:none;
    fill: blue;
}

.timeAxisTick text  {
    fill: black;
}

.item {
    stroke: darkblue;
    stroke-width: 2px;
}


.item rect {
    /*stroke: black;*/
    fill: white;
    /*stroke-width: 2px;*/
    box-shadow: darkgray;
}

.item text {
    stroke: none;
    fill: black;
}

rect.lane {
    fill:  #f8d78f ;
    stroke: #ffbd33 ;
    stroke-width:2;
    opacity:1;
}

.lane text {
    fill: #FF5733;
}

#events {
    filter:url(#shadow);
}